@import "../../styles/variables.scss";

.photo {
  float: left;
  list-style-type: none;
  position: relative;
  order: 1;

  @include breakpoint(lg) {
    order: 0;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint(lg) {
      height: 50vh;
    }
    @include breakpoint(md) {
      height: 100%;
    }
  }
  .relatedText {
    z-index: 100;
    position: absolute;
    color: $whiteColor;
    top: 0;
    font-size: 1.2rem;
    padding: 10vh 5rem;
    @include breakpoint(md) {
      font-size: 1rem;
      padding: 4rem 3rem;
    }
    @include breakpoint(sm) {
      font-size: 0.8rem;
      padding: 2rem 1rem;
    }
    .quoteSymbol {
      font-weight: 900;
      font-size: 4rem;
      margin: 0;
      @include breakpoint(md) {
        font-size: 2.6rem;
      }
      @include breakpoint(sm) {
        font-size: 2rem;
      }
    }
    .title {
      font-size: 4rem;
      margin: 0;
      @include breakpoint(md) {
        font-size: 2.6rem;
      }
      @include breakpoint(sm) {
        font-size: 2rem;
      }
    }
  }
}
