@import "../../styles/variables.scss";

.linkRedirect {
  margin-top: 3vh;
  font-size: 13px;
  text-align: center;
  a {
    text-decoration: none;
    color: $blueColor;
    font-weight: 600;
    cursor: pointer;
  }
}
