@import "../../styles/variables.scss";

.field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3vh;

  input {
    padding: $fieldPadding;
    border: 2px solid $inputBorderColor;
    outline: none;
    border-radius: 6px;
    width: 100%;

    &:is(:focus, :valid) {
      border: 2px solid $blueColor;
    }
  }
  label {
    position: absolute;
    background-color: $whiteColor;
    color: $grayColor;
    left: $fieldPadding;
    padding: 0 4px;
    transition: all 0.2s ease-in;
  }

  input:is(:focus, :valid) + label {
    transform: translatey(calc(-1 * $fieldPadding - 12px)) translatex(-8px);
    font-size: 14px;
    color: $blueColor;
  }
}
